/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #ECEDEF;
}

h1, h3 {
  font-style: italic;
  color: #373fff;
  text-align: center;
}

main {
  width: 600px;
  margin: auto;
  text-align: center;
}

span {
  background-color: #FFFFFF;
  padding: 3px;
}

footer {
  text-align: center;
  position: relative;
  width: 600px;
  margin: 20px auto;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}

ol {
  text-align: justify;
}

li {
  margin-bottom: 5px;
}
